{{! Any partials will go here }}
<article>

  <h2>{{title}}</h2>
  <p>Author: {{author}}</p>
  {{! cover ID }}
  <img src="https://covers.openlibrary.org/a/olid/{{cover}}-M.jpg" alt="cover for {{title}}">
  <button type='submit'></button>
  {{! save/like/favorite button }}

</article>
<script src='/js/savedBooks.js'></script>