<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Lit-Lit</title>
    <script src='https://cdn.tailwindcss.com'></script>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <!--background-->
  <body class='bg-scroll'>
    <header>
      <!--navbar-->
      <nav class='bg-white'>
        <div class='container mx-auto flex justify-between items-center py-4'>
          <!-- Left-aligned logo -->
          <a
            href=''
            class='text-white text-2xl font-semibold flex items-center'
          >
            <img
              class='object-center logo w-30 h-30'
              src=''
              alt='logo'
              width='100'
              height='100'
            />
          </a>

          <!-- Logout button aligned with logo to the right -->
          <div>
            <ul class='flex space-x-4'>
              <li class='navbar-links'>
                {{#if logged_in}}
                  <button class='logout-button' id='logout'>Logout</button>
                {{/if}}
              </li>
            </ul>

          </div>
        </div>

      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}

    <!--footer -->

    <footer class='bg-transparent rounded-lg shadow m-4'>
      <div
        class='w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between'
      >
        <span class='text-sm text-white sm:text-center'>© 2024
          <a href='' class='hover:underline'>Lit-Lit™</a>.

        </span>

        <ul
          class='flex flex-wrap items-center mt-3 text-sm font-medium text-white sm:mt-0'
        >
          <li>
            <a
              href='https://github.com/MikeNguyen1092'
              class='hover:underline me-4 md:me-6'
            >Michael Nguyen</a>
          </li>
          <li>
            <a
              href='https://github.com/a-nord'
              class='hover:underline me-4 md:me-6'
            >Ashley Nord</a>
          </li>
          <li>
            <a
              href='https://github.com/Aricoria10'
              class='hover:underline me-4 md:me-6'
            >Aletheia Bentley
            </a>
          </li>
          <li>
            <a
              href='https://github.com/Jazminnova'
              class='hover:underline me-4 md:me-6'
            >Jazmin Nova</a>
          </li>
        </ul>
      </div>
    </footer>

  </body>
</html>