<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Lit-Lit</title>
    <script src='https://cdn.tailwindcss.com'></script>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <!--background-->
  <body>
    <header>
      {{#if logged_in}}
      <!--navbar-->
      <nav class="bg-transparent">
      <div class="container mx-auto flex justify-between items-left py-4">
        <!--media query -->
        <div
          class="bg-cover bg-transparent justify-start p-8">
          
        </div>

        <img
          class='flex justify-start bg-white'
          src='/images/Lit-Lit-logo.png'
          alt='logo'
          width='100'
          height='100'
        />
      <nav class='bg-transparent'>
        <!-- Logout button aligned with logo to the right -->
        <div class="flex justify-end">
          <ul>
            <li class='navbar-links'>                
              <button class='logout-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-3' id='logout'>Logout</button>                
            </li>
          </ul>

        </div>        

      </nav>
      {{/if}}
    </header>

    <main>
      {{{body}}}
    </main>

    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}

    <!--footer -->

    <footer class='bg-transparent rounded-lg shadow m-4 py-5'>
      <div
        class='w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between'
      >
        <span class='text-sm text-white sm:text-center'>© 2024
          <a href='' class='hover:underline'>Lit-Lit™</a>.

        </span>

        <ul
          class='flex flex-wrap items-center mt-3 text-sm font-medium text-white sm:mt-0'
        >
          <li>
            <a
              href='https://github.com/MikeNguyen1092'
              class='hover:underline me-4 md:me-6'
            >Michael Nguyen</a>
          </li>
          <li>
            <a
              href='https://github.com/a-nord'
              class='hover:underline me-4 md:me-6'
            >Ashley Nord</a>
          </li>
          <li>
            <a
              href='https://github.com/Aricoria10'
              class='hover:underline me-4 md:me-6'
            >Aletheia Bentley
            </a>
          </li>
          <li>
            <a
              href='https://github.com/Jazminnova'
              class='hover:underline me-4 md:me-6'
            >Jazmin Nova</a>
          </li>
        </ul>
      </div>
    </footer>

  </body>
</html>