<!-- new login -->
<div class='flex justify-center items-center h-screen'>
  <div
    class='row w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8'
  >
    <div class='col-md-6 space-y-6'>
      <h5 class='text-xl font-medium text-gray-900 dark:text-white'>
        Login to our platform
      </h5>

      <form class='form login-form'>
        <div class='form-group'>
          <label for='email-loginblock mb-2 text-sm font-medium text-gray-900 '>
            Email:</label>
          <input
            class='form-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'
            type='text'
            id='email-login'
          />
        </div>
        <div class='form-group'>
          <label for='password-login'>Password:</label>
          <input
            class='form-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'
            type='password'
            id='password-login'
          />
        </div>
        <div class='form-group'>
          <button
            type='submit'
            class='w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'
          >
            Login to your account
          </button>
        </div>
      </form>
    </div>

    <div class='col-md-6 space-y-6'>
      <h4 class='text-xl font-medium text-gray-900 dark:text-white'>
        Not registered? Sign up
      </h4>

      <form class='form signup-form'>
        <div class='form-group'>
          <label
            for='name-signup mb-2 text-sm font-medium text-gray-900'
          >Name:</label>
          <input
            class='form-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'
            type='text'
            id='name-signup'
          />
        </div>
        <div class='form-group'>
          <label
            for='email-signup mb-2 text-sm font-medium text-gray-900'
          >Email:</label>
          <input
            class='form-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'
            type='text'
            id='email-signup'
          />
        </div>
        <div class='form-group'>
          <label
            for='password-signup mb-2 text-sm font-medium text-gray-900'
          >Password:</label>
          <input
            class='form-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'
            type='password'
            id='password-signup'
          />
        </div>
        <div class='form-group'>
          <button
            type='submit'
            class='w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'
          >
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src='/js/login.js'></script>
<script src='/js/signup.js'></script>