{{!-- after the axios results render this page. --}}
<section class="flex justify-center">
<div class="searchResults border border-black-200 rounded-lg ">
{{#each globalBooks}}
    {{> items}}
{{/each}}
</div>
</section>