/* background for the three main pages*/
body {
  background: url(../images/books.jpeg) repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.search-bar {
  width: inherit;
  height: 43%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchResults {
  background-color: oldlace;
  width: 70%;
  height: 700px;
  overflow-y: auto;
  margin: 30px 30px 60px 30px;
  padding: 20px;
}

footer {
  position: relative;
  top: -80px;
}