/* background for the three main pages*/
body {
  background: url(../images/books.jpeg) repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.search-bar {
  width: inherit;
  height: 43%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchResults {
  background-color: oldlace;
  width: 70%;
  height: 700px;
  overflow-y: auto;
  margin: 30px 30px 60px 30px;
  padding: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;  
  width: 100vw;
  justify-content: space-between;
}
